.ContactForm {
  display: flex;
  margin: 0 auto;
  width: 400px;
  height: 440px;
  padding: 40px;

  flex-direction: column;

  border-radius: 10px;
  background-color: #ffedf6;

  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  input {
    margin-bottom: 20px;
    width: 100%;
    border-style: none;
    background-color: transparent;
    border-bottom: 2px solid #d493b3;
  }

  input:hover,
  input:focus {
    outline-style: none;
    border-bottom: 2px solid #a55179;
  }

  label {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #a55179;
  }

  button {
    width: 100%;
    height: 50px;

    margin-top: 40px;
    cursor: pointer;
    outline-style: none;
    border: 2px solid #a55179;
    background-color: transparent;
    font-weight: 600;
    font-size: 20px;
    color: #a55179;

    transition: 1s all ease;
  }

  button:hover,
  button:focus {
    background-color: #a55179;
    color: #fff;
    transition: all 0.6s ease;
  }
}
