section {
  // display: flex;
  // align-items: center;
  width: 100vw;
  height: 100vh;

  padding-top: 120px;
  // padding-bottom: 120px;
  background: linear-gradient(
    187deg,
    rgba(255, 213, 49, 1) 20%,
    rgba(212, 147, 179, 1) 90%
  );
}
